body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  gap: 1rem;
}

.contenedorInputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  font-size: 1rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1.5rem;
}

button {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: #00a6ff;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

#resultado {
  font-family: inherit;
  font-size: 1.2rem;
  min-width: 25%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  text-align: center;
}
